<%- include ('partials/top') %>
<div class="row">
  <div class="col-12 py-4">
    <div class="d-flex justify-content-between">
      <h2>Borrowers</h2>
      <div>
        <a href="/borrowers/new" class="btn btn-primary">Register New Borrower</a>
      </div>
    </div>
  </div>

  <div class="col-12 py-4">
    <form class="form-inline" method="POST" action="/borrowers">
      <div class="form-group py-2">
        <input class="form-control" name="search">
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
      </div>
    </form>
    <h4 class="mb-0 bg-primary py-2 text-white text-center mt-4">List of Borrowers</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Surname</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Date Registered</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% borrowers.forEach(m => { %>
          <tr>
            <td><%= m.surname %></td>
            <td><%= m.first_name %></td>
            <td><%= m.middle_name %></td>
            <td><%= m.email %></td>
            <td><%= m.phone %></td>
            <td><%= m.createdAt.toGMTString() %></td>
            <td>
              <a class="btn btn-danger btn-sm text-white" href='<%= "/borrowers/remove/" + m._id %>'>Remove</a>
          </td>
          </tr>
        <% }) %>
        <tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<%- include ('partials/bottom') %>