<%- include ('partials/top') %>

<div class="row space">
  <div class="col-12 d-flex justify-content-between align-items-center underline pb-2">
    <h3 class="title">Mortgage Plan</h3>
    <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCategoryModal">Add Mortgage Plan</button>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-12">
    <h4 class="font-weight-light text-center text-white bg-primary p-2 m-0 table-top">List of Mortgage Plans</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number of Months</th>
          <th>Interest (%)</th>
          <th>Over Due Penalty (%)</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% plans.forEach((p) => { %>
            <tr>
              <td><%= p.months %></td>
              <td><%= p.interest %> %</td>
              <td><%= p.penalty %> %</td>
              <td>
                <a href='<%= "/plans/remove/" + p._id %>' class="btn btn-sm btn-danger">Remove</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
    </table>
  </div>
</div>

<!-- Add New Category Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">New Mortgage Plan</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <form action="/plans/new" method="POST" class="row">
      <div class="form-group col-12">
        <label>Plan (monthly):</label>
        <input type="number" class="form-control" name="months">
      </div>
      <div class="form-group col-12">
        <label>Interest (%):</label>
        <input type="number" class="form-control" name="interest">
      </div>
      <div class="form-group col-12">
        <label>Overdue Penalty (%):</label>
        <input type="number" class="form-control" name="penalty">
      </div>
      <div class="form-group col-12">
        <input type="submit" class="btn btn-primary form-control" value="Proceed">
      </div>
    </form>
  </div>
</div>
</div>
</div>

<%- include ('partials/bottom') %>